<div class="container  mb-3">
    <h1 class="text-center">Set New Password</h1>
    <div class="row mt-5">
        <div class="col-md-6 mx-auto">
            {{> messages}}
            <form method="POST" action="/password/new">
                <div class="form-group">
                    <label for="exampleInputPassword1">Password</label>
                    <input type="password" class="form-control" name="password" id="exampleInputPassword1">
                </div>
                    <input type="hidden" name="userId" value="{{userId}}">
                    <input type="hidden" name="passwordToken" value="{{passwordToken}}">
                <button type="submit" class="btn btn-primary">Update Password</button>
            </form>
        </div>
    </div>
</div>