<div class="container mb-5">
    <h1 class="text-center">Password Reset</h1>
    <div class="row mt-5">
        <div class="col-md-6 mx-auto">
            {{> messages}}
            <form method="POST" action="/password/reset">
                <div class="form-group">
                    <label for="exampleInputEmail1">Email address</label>
                    <input type="email" class="form-control" name="email" id="exampleInputEmail1" aria-describedby="emailHelp">
                </div>
                <button type="submit" class="btn btn-primary">Reset Password</button>
            </form>
        </div>
    </div>
</div>